# Fase 5: limpiar y juntar data en un unico csv

1. Juntar en unitary data por carpetas
2. Juntar todo en un Ãºnico  csv llamado DATA.CSV.GZ

## Stock_data

In [ ]:
# notebooks/00_explore_csvs.ipynb

import pandas as pd
from pathlib import Path
from IPython.display import display  # Muy importante para notebooks

# =============================
# CONFIG
# =============================
FOLDER_PATH = Path("../data/raw/stock_data/")  # Cambiar carpeta segÃºn quieras explorar
csv_files = list(FOLDER_PATH.glob("*.csv.gz"))

# =============================
# FUNCIONES DE EXPLORACIÃ“N
# =============================
def explore_csv(csv_path):
    print(f"\nðŸ”¹ Explorando {csv_path.name}")
    df = pd.read_csv(csv_path, compression='gzip')
    
    # Ver columnas
    print("Columnas:", df.columns.tolist())
    
    # Primeras filas
    print("Primeras filas:")
    display(df.head())
    
    # # Info general
    # print("\nInformaciÃ³n:")
    # display(df.info())
    
    # # EstadÃ­sticas bÃ¡sicas
    # print("\nEstadÃ­sticas descriptivas:")
    # display(df.describe())
    
    # # Valores nulos por columna
    # print("\nValores nulos:")
    # display(df.isna().sum())
    
    return df

# =============================
# EXPLORAR TODOS LOS CSVs
# =============================
for csv_file in csv_files:
    explore_csv(csv_file)

ðŸ”¹ Explorando Bankinter.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,BKT.MC,BKT.MC,BKT.MC,BKT.MC,BKT.MC
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,4.940535545349121,5.190057259950818,4.890631114987602,5.190057259950818,23073918
3,2000-01-04,4.715966701507568,4.935545983655694,4.715966701507568,4.935545983655694,14457556
4,2000-01-05,4.641108989715576,4.920573626455566,4.411548783622435,4.666061205039,22038663

ðŸ”¹ Explorando BBVA.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,BBVA.MC,BBVA.MC,BBVA.MC,BBVA.MC,BBVA.MC
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,4.115111351013184,4.15574043300359,4.10640530434585,4.135426036043307,8244257
3,2000-01-04,4.007734775543213,4.088992352039225,3.9932246997902094,4.06287392761402,8522096
4,2000-01-05,3.9177701473236084,3.990321366328758,3.900357774102856,3.97000669084646,12159826

ðŸ”¹ Explorando CAC40.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

        Price   Close    High     Low    Open Volume
0      Ticker   ^FCHI   ^FCHI   ^FCHI   ^FCHI  ^FCHI
1        Date     NaN     NaN     NaN     NaN    NaN
2  1990-03-01  1832.0  1838.0  1827.0  1836.0      0
3  1990-03-02  1860.0  1860.0  1831.0  1831.0      0
4  1990-03-05  1874.0  1874.0  1862.0  1866.0      0

ðŸ”¹ Explorando CaixaBank.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,CABK.MC,CABK.MC,CABK.MC,CABK.MC,CABK.MC
1,Date,NaN,NaN,NaN,NaN,NaN
2,2007-10-10,1.9615925550460815,2.032583545084554,1.9541198286296029,2.032583545084554,101556900
3,2007-10-11,1.9765379428863525,1.987747121224415,1.961592490544833,1.9728016688828955,22776660
4,2007-10-12,1.9840108156204224,1.9914835423432091,1.9690653621748486,1.9914835423432091,8629854

ðŸ”¹ Explorando Citigroup.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,C,C,C,C,C
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,11.1301908493042,11.1301908493042,10.703928158044981,10.79865339403956,478795
3,1990-01-03,11.272284507751465,11.414372445884343,11.177560086379785,11.272284507751465,827349
4,1990-01-04,11.1301908493042,11.31964045057697,11.03546561330962,11.31964045057697,300241

ðŸ”¹ Explorando DAX.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^GDAXI,^GDAXI,^GDAXI,^GDAXI,^GDAXI
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,1788.8900146484375,1788.8900146484375,1788.8900146484375,1788.8900146484375,0
3,1990-01-03,1867.2900390625,1867.2900390625,1867.2900390625,1867.2900390625,0
4,1990-01-04,1830.9200439453125,1830.9200439453125,1830.9200439453125,1830.9200439453125,0

ðŸ”¹ Explorando DeutscheBank.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,DB,DB,DB,DB,DB
1,Date,NaN,NaN,NaN,NaN,NaN
2,1996-11-18,24.778818130493164,25.039649464225455,24.12674363263198,24.778818130493164,2056
3,1996-11-19,24.974437713623047,25.10485207787194,24.648399245354927,24.97443771362305,7712
4,1996-11-20,24.778818130493164,25.104856658246938,24.778818130493164,24.778818130493164,29176

ðŸ”¹ Explorando DowJones.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^DJI,^DJI,^DJI,^DJI,^DJI
1,Date,NaN,NaN,NaN,NaN,NaN
2,1992-01-02,3172.39990234375,3172.6298828125,3139.31005859375,3152.10009765625,23550000
3,1992-01-03,3201.5,3210.639892578125,3165.919921875,3172.39990234375,23620000
4,1992-01-06,3200.10009765625,3213.330078125,3191.860107421875,3201.5,27280000

ðŸ”¹ Explorando EuroStoxx50.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^STOXX50E,^STOXX50E,^STOXX50E,^STOXX50E,^STOXX50E
1,Date,NaN,NaN,NaN,NaN,NaN
2,2007-03-30,4181.02978515625,4207.759765625,4160.35009765625,4177.669921875,0
3,2007-04-02,4189.5498046875,4191.759765625,4163.77001953125,4177.31005859375,0
4,2007-04-03,4246.2998046875,4248.06982421875,4199.5400390625,4199.5400390625,0

ðŸ”¹ Explorando FTSE100.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^FTSE,^FTSE,^FTSE,^FTSE,^FTSE
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,2434.10009765625,2443.300048828125,2425.5,2425.5,0
3,1990-01-03,2463.699951171875,2466.199951171875,2445.800048828125,2445.800048828125,0
4,1990-01-04,2451.60009765625,2479.39990234375,2451.60009765625,2463.699951171875,0

ðŸ”¹ Explorando HSBC.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,HSBC,HSBC,HSBC,HSBC,HSBC
1,Date,NaN,NaN,NaN,NaN,NaN
2,1999-07-16,16.9373722076416,17.005599286020825,16.817974820477964,16.954428977236407,231400
3,1999-07-19,16.971485137939453,17.380847593527943,16.78386067912806,17.363790824545088,158200
4,1999-07-20,16.613298416137695,16.85209325990148,16.579184867028584,16.85209325990148,79400

ðŸ”¹ Explorando IBEX35.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^IBEX,^IBEX,^IBEX,^IBEX,^IBEX
1,Date,NaN,NaN,NaN,NaN,NaN
2,1993-07-12,2826.39697265625,2826.7971187258554,2814.5971801997653,2826.7971187258554,0
3,1993-07-13,2843.39697265625,2843.697021175221,2820.8969958390494,2826.396990172143,0
4,1993-07-14,2851.09716796875,2858.3969651552343,2845.3969785135646,2845.3969785135646,0

ðŸ”¹ Explorando JPMorgan.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,JPM,JPM,JPM,JPM,JPM
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,3.2227916717529297,3.236220072835022,3.209363270670838,3.209363270670838,1180500
3,1990-01-03,3.330216646194458,3.330216646194458,3.2227904019137474,3.2630752819376694,1597200
4,1990-01-04,3.343647003173828,3.3570754068412016,3.316790503188505,3.330218599506455,1010100

ðŸ”¹ Explorando MSCI_World.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,URTH,URTH,URTH,URTH,URTH
1,Date,NaN,NaN,NaN,NaN,NaN
2,2012-01-12,38.78660202026367,38.78660202026367,38.78660202026367,38.78660202026367,100
3,2012-01-13,38.78660202026367,38.78660202026367,38.78660202026367,38.78660202026367,0
4,2012-01-17,38.78660202026367,38.78660202026367,38.78660202026367,38.78660202026367,0

ðŸ”¹ Explorando NASDAQ.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^IXIC,^IXIC,^IXIC,^IXIC,^IXIC
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,459.29998779296875,459.29998779296875,452.70001220703125,452.8999938964844,110720000
3,1990-01-03,460.8999938964844,461.6000061035156,460.0,461.1000061035156,152660000
4,1990-01-04,459.3999938964844,460.79998779296875,456.8999938964844,460.3999938964844,147950000

ðŸ”¹ Explorando Nikkei225.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^N225,^N225,^N225,^N225,^N225
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-04,38712.87890625,38950.76953125,38705.140625,38921.6484375,0
3,1990-01-05,38274.76171875,38786.62109375,38090.51171875,38717.48828125,0
4,1990-01-08,38294.9609375,38564.23046875,38121.1015625,38331.62890625,0

ðŸ”¹ Explorando Sabadell.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,SAB.MC,SAB.MC,SAB.MC,SAB.MC,SAB.MC
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,1.1266602277755737,1.1266602277755737,1.1205703716378785,1.1266602277755737,7949
3,2000-01-04,1.1266602277755737,1.1266602277755737,1.1205703716378785,1.1205703716378785,3178
4,2000-01-05,1.1266602277755737,1.1266602277755737,1.1205703716378785,1.1205703716378785,3974

ðŸ”¹ Explorando Santander.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,SAN.MC,SAN.MC,SAN.MC,SAN.MC,SAN.MC
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,2.625065803527832,2.661973335366229,2.595078147963834,2.65274657949343,8797337
3,2000-01-04,2.56278395652771,2.6066118745192086,2.5397166847792603,2.592771613139582,8811013
4,2000-01-05,2.500501871109009,2.5466364072099386,2.479741228194163,2.5143421302698603,9333517

ðŸ”¹ Explorando SP500.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,359.69000244140625,359.69000244140625,351.9800109863281,353.3999938964844,162070000
3,1990-01-03,358.760009765625,360.5899963378906,357.8900146484375,359.69000244140625,192330000
4,1990-01-04,355.6700134277344,358.760009765625,352.8900146484375,358.760009765625,177000000

ðŸ”¹ Explorando Unicaja.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,UNI.MC,UNI.MC,UNI.MC,UNI.MC,UNI.MC
1,Date,NaN,NaN,NaN,NaN,NaN
2,2017-06-30,0.8638375401496887,0.8859872883701365,0.849071100012674,0.8638375401496887,82997485
3,2017-07-03,0.9007536768913269,0.9140434898560801,0.8571926281743539,0.8682674576424948,17223157
4,2017-07-04,0.9229034185409546,0.9361932326967803,0.9081369779266879,0.9221650613042698,9626287

In [ ]:
# src/fase_5/merge_stock_data.py
import pandas as pd
from pathlib import Path
import re
import numpy as np

RAW_DIR = Path("../data/raw/stock_data/")
OUT_FILE = Path("../data/processed/unitary/stock_data_merged.csv.gz")
OUT_FILE.parent.mkdir(parents=True, exist_ok=True)

def clean_ticker(t):
    if pd.isna(t):
        return None
    t = str(t).strip()
    # eliminar caracteres problemÃ¡ticos y normalizar
    t = re.sub(r'[\^\s/\\]+', '', t)
    t = re.sub(r'[^0-9A-Za-z_.-]', '', t)
    return t

def detect_header_row(df):
    """Detecta la fila que contiene el nombre de la columna 'Date' (o similar)."""
    for i in range(min(6, len(df))):  # buscar en las primeras filas
        row = df.iloc[i].astype(str).str.lower()
        if any(row.str.contains(r'\bdate\b')) or any(row.str.contains(r'\byear\b')):
            return i
    return None

def detect_ticker(df):
    """Intenta detectar el ticker buscando cadenas evidentes en las primeras 3 filas."""
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.isna(val):
                continue
            s = str(val).strip()
            # heurÃ­stica: contiene punto (MC), empieza por ^, todo mayÃºsculas o contiene letras y nÃºmeros
            if re.search(r'\.MC$|^\^|^[A-Z0-9]{1,6}$', s) or re.search(r'[A-Za-z]{2,}\.[A-Za-z]{1,4}', s):
                return s
    # fallback: devolver la primera no-nan del dataframe
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.notna(val) and str(val).strip() and len(str(val).strip()) <= 12:
                return str(val).strip()
    return None

def normalize_df(df, ticker_raw):
    # detectar fila header (donde estÃ¡ 'Date')
    header_row = detect_header_row(df)
    if header_row is None:
        # si no detecta, asumimos que la fila 1 (Ã­ndice 1) es header (segÃºn tu ejemplo)
        header_row = 1 if len(df) > 1 else 0

    # extraer columnas y datos
    new_cols = df.iloc[header_row].fillna("").astype(str).tolist()
    data = df.iloc[header_row+1 : ].copy()
    data.columns = new_cols

    # Si la columna que contiene fecha no se llama exactamente 'Date', buscarla
    date_col = None
    for col in data.columns:
        if isinstance(col, str) and col.strip().lower() in ("date", "fecha", "price"):
            date_col = col
            break
    if date_col is None:
        # si no hay, buscar la columna cuyo contenido parece fecha en la primera filas
        for col in data.columns:
            sample = data[col].dropna().astype(str).head(5).tolist()
            if any(re.match(r'^\d{4}-\d{2}-\d{2}$', s) for s in sample):
                date_col = col
                break

    if date_col is None:
        raise ValueError("No se pudo localizar la columna Date en el archivo (cabecera detectada: {}).".format(header_row))

    # renombrar date_col a 'Date'
    data = data.rename(columns={date_col: "Date"})

    # limpiar ticker y aÃ±adir sufijo a las columnas (excepto Date)
    ticker_clean = clean_ticker(ticker_raw) or "TICKER"
    # si alguna columna vacÃ­a -> rellenar con nombres default
    new_columns = []
    for c in data.columns:
        if not isinstance(c, str) or c.strip() == "":
            # intentar inferir por posiciÃ³n: Close, High, Low, Open, Volume
            new_columns.append(None)
        else:
            new_columns.append(c.strip())
    # si hay nombrado None, asignar por posiciÃ³n
    col_map = {}
    standard = ["Date", "Close", "High", "Low", "Open", "Volume", "Adj Close"]
    for idx, col in enumerate(new_columns):
        if col is None or col == "":
            # asignar por Ã­ndice si posible (asumimos estructura tÃ­pica)
            if idx < len(standard):
                col_map[new_columns[idx]] = standard[idx]
                new_columns[idx] = standard[idx]
            else:
                new_columns[idx] = f"col_{idx}"
        # else keep
    data.columns = new_columns

    # ahora aÃ±adir sufijo a todas las columnas excepto Date
    rename_dict = {}
    for c in data.columns:
        if c == "Date":
            continue
        # limpiar nombre de columna
        c_clean = re.sub(r'\s+', '_', c)
        rename_dict[c] = f"{ticker_clean}_{c_clean}"

    data = data.rename(columns=rename_dict)

    # convertir Date y valores numÃ©ricos
    data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
    # convertir otras columnas a numÃ©rico (suppress errors -> NaN)
    for col in data.columns:
        if col == "Date":
            continue
        data[col] = pd.to_numeric(data[col], errors="coerce")

    # eliminar filas sin Date
    data = data.dropna(subset=["Date"]).reset_index(drop=True)

    # ordenar por Date
    data = data.sort_values("Date").reset_index(drop=True)

    return data

def process_all(raw_dir):
    frames = []
    for fp in sorted(raw_dir.glob("*.csv.gz")):
        print("Procesando:", fp.name)
        try:
            df_raw = pd.read_csv(fp, compression="gzip", header=None, dtype=str)
            ticker_raw = detect_ticker(df_raw)
            df_norm = normalize_df(df_raw, ticker_raw)
            frames.append(df_norm)
        except Exception as e:
            print(f"âš ï¸ Error procesando {fp.name}: {e}")

    # Merge outer por Date
    if not frames:
        raise RuntimeError("No se han procesado archivos correctamente.")
    merged = frames[0]
    for f in frames[1:]:
        merged = pd.merge(merged, f, on="Date", how="outer")

    merged = merged.sort_values("Date").reset_index(drop=True)
    return merged

if __name__ == "__main__":
    merged_df = process_all(RAW_DIR)
    merged_df.to_csv(OUT_FILE, index=False, compression="gzip")
    print("âœ… Merge completado:", OUT_FILE)
    print("Filas:", len(merged_df), "Columnas:", len(merged_df.columns))
    # print merged df
    display(merged_df)

Procesando: Bankinter.csv.gz
Procesando: BBVA.csv.gz
Procesando: CAC40.csv.gz
Procesando: CaixaBank.csv.gz
Procesando: Citigroup.csv.gz
Procesando: DAX.csv.gz
Procesando: DeutscheBank.csv.gz
Procesando: DowJones.csv.gz
Procesando: EuroStoxx50.csv.gz
Procesando: FTSE100.csv.gz
Procesando: HSBC.csv.gz
Procesando: IBEX35.csv.gz
Procesando: JPMorgan.csv.gz
Procesando: MSCI_World.csv.gz
Procesando: NASDAQ.csv.gz
Procesando: Nikkei225.csv.gz
Procesando: Sabadell.csv.gz
Procesando: Santander.csv.gz
Procesando: SP500.csv.gz
Procesando: Unicaja.csv.gz
âœ… Merge completado: ..\data\processed\unitary\stock_data_merged.csv.gz
Filas: 9328 Columnas: 101

,Date,BKT.MC_Close,BKT.MC_High,BKT.MC_Low,BKT.MC_Open,BKT.MC_Volume,BBVA.MC_Close,BBVA.MC_High,BBVA.MC_Low,BBVA.MC_Open,...,GSPC_Close,GSPC_High,GSPC_Low,GSPC_Open,GSPC_Volume,UNI.MC_Close,UNI.MC_High,UNI.MC_Low,UNI.MC_Open,UNI.MC_Volume
0,1990-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,359.690002,359.690002,351.980011,353.399994,1.620700e+08,NaN,NaN,NaN,NaN,NaN
1,1990-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,358.760010,360.589996,357.890015,359.690002,1.923300e+08,NaN,NaN,NaN,NaN,NaN
2,1990-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355.670013,358.760010,352.890015,358.760010,1.770000e+08,NaN,NaN,NaN,NaN,NaN
3,1990-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,352.200012,355.670013,351.350006,355.670013,1.585300e+08,NaN,NaN,NaN,NaN,NaN
4,1990-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,353.790009,354.239990,350.540009,352.200012,1.401100e+08,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9323,2025-10-24,12.690,12.755,12.575,12.720,1627136.0,16.900000,17.100000,16.735001,17.014999,...,6791.689941,6807.109863,6772.069824,6772.069824,5.058220e+09,2.318,2.322,2.290,2.304,3810297.0
9324,2025-10-27,12.800,12.835,12.690,12.775,1716167.0,17.200001,17.235001,17.004999,17.049999,...,6875.160156,6877.279785,6843.939941,6845.459961,5.290650e+09,2.332,2.346,2.328,2.338,5739402.0
9325,2025-10-28,12.970,12.970,12.775,12.810,2045726.0,17.190001,17.215000,17.040001,17.070000,...,6890.890137,6911.299805,6870.729980,6897.740234,5.695930e+09,2.350,2.356,2.322,2.330,4386532.0
9326,2025-10-29,13.055,13.110,12.850,12.985,1683611.0,17.580000,17.584999,17.055000,17.209999,...,6890.589844,6920.339844,6851.910156,6910.950195,6.280130e+09,2.344,2.364,2.322,2.350,5343218.0
9327,2025-10-30,13.020,13.080,12.950,13.080,1591256.0,17.280001,17.410000,17.049999,17.389999,...,6822.339844,6880.750000,6820.689941,6860.500000,6.052700e+09,2.350,2.370,2.326,2.362,4753946.0

## Commodity_data

In [ ]:
# notebooks/00_explore_csvs.ipynb

import pandas as pd
from pathlib import Path
from IPython.display import display  # Muy importante para notebooks

# =============================
# CONFIG
# =============================
FOLDER_PATH = Path("../data/raw/commodity_data/")  # Cambiar carpeta segÃºn quieras explorar
csv_files = list(FOLDER_PATH.glob("*.csv.gz"))

# =============================
# FUNCIONES DE EXPLORACIÃ“N
# =============================
def explore_csv(csv_path):
    print(f"\nðŸ”¹ Explorando {csv_path.name}")
    df = pd.read_csv(csv_path, compression='gzip')
    
    # Ver columnas
    print("Columnas:", df.columns.tolist())
    
    # Primeras filas
    print("Primeras filas:")
    display(df.head())
    
    # # Info general
    # print("\nInformaciÃ³n:")
    # display(df.info())
    
    # # EstadÃ­sticas bÃ¡sicas
    # print("\nEstadÃ­sticas descriptivas:")
    # display(df.describe())
    
    # # Valores nulos por columna
    # print("\nValores nulos:")
    # display(df.isna().sum())
    
    return df

# =============================
# EXPLORAR TODOS LOS CSVs
# =============================
for csv_file in csv_files:
    explore_csv(csv_file)

ðŸ”¹ Explorando Aluminio.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

        Price    Close     High     Low     Open Volume
0      Ticker    ALI=F    ALI=F   ALI=F    ALI=F  ALI=F
1        Date      NaN      NaN     NaN      NaN    NaN
2  2014-05-06  2172.75  2205.75  2165.0  2182.75     41
3  2014-05-07   2149.0  2152.25  2146.0  2152.25     35
4  2014-05-08  2141.75   2150.0  2130.0   2150.0     25

ðŸ”¹ Explorando Brent.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,BZ=F,BZ=F,BZ=F,BZ=F,BZ=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2007-07-30,75.73999786376953,76.52999877929688,75.44000244140625,75.8499984741211,2575
3,2007-07-31,77.05000305175781,77.16999816894531,75.66999816894531,75.69999694824219,3513
4,2007-08-01,75.3499984741211,77.05999755859375,74.86000061035156,77.0,3930

ðŸ”¹ Explorando Cobre.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,HG=F,HG=F,HG=F,HG=F,HG=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-08-30,0.8849999904632568,0.8870000243186951,0.8769999742507935,0.8790000081062317,2886
3,2000-08-31,0.8849999904632568,0.8880000114440918,0.8799999952316284,0.8849999904632568,1095
4,2000-09-01,0.8889999985694885,0.8889999985694885,0.878000020980835,0.878000020980835,3449

ðŸ”¹ Explorando GasNatural.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,NG=F,NG=F,NG=F,NG=F,NG=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-08-30,4.804999828338623,4.815000057220459,4.630000114440918,4.650000095367432,34954
3,2000-08-31,4.78000020980835,4.869999885559082,4.739999771118164,4.820000171661377,25787
4,2000-09-01,4.835000038146973,4.860000133514404,4.75,4.75,113

ðŸ”¹ Explorando Oro.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,GC=F,GC=F,GC=F,GC=F,GC=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-08-30,273.8999938964844,273.8999938964844,273.8999938964844,273.8999938964844,0
3,2000-08-31,278.29998779296875,278.29998779296875,274.79998779296875,274.79998779296875,0
4,2000-09-01,277.0,277.0,277.0,277.0,0

ðŸ”¹ Explorando Plata.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,SI=F,SI=F,SI=F,SI=F,SI=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-08-30,4.929999828338623,4.949999809265137,4.894999980926514,4.949999809265137,2319
3,2000-08-31,5.002999782562256,5.045000076293945,4.920000076293945,4.920000076293945,1612
4,2000-09-01,5.004000186920166,5.034999847412109,4.985000133514404,5.034999847412109,1375

ðŸ”¹ Explorando Trigo.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

        Price   Close   High     Low    Open Volume
0      Ticker    ZW=F   ZW=F    ZW=F    ZW=F   ZW=F
1        Date     NaN    NaN     NaN     NaN    NaN
2  2000-07-17   244.0  248.0  243.75   248.0   7233
3  2000-07-18  241.25  247.5   241.0  244.25   6523
4  2000-07-19   245.0  246.0   239.0  241.25   7136

ðŸ”¹ Explorando Uranio.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,UX=F,UX=F,UX=F,UX=F,UX=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2025-10-07,84.05000305175781,84.05000305175781,84.05000305175781,84.05000305175781,10

ðŸ”¹ Explorando WTI.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,CL=F,CL=F,CL=F,CL=F,CL=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-08-23,32.04999923706055,32.79999923706055,31.950000762939453,31.950000762939453,79385
3,2000-08-24,31.6299991607666,32.2400016784668,31.399999618530273,31.899999618530273,72978
4,2000-08-25,32.04999923706055,32.099998474121094,31.31999969482422,31.700000762939453,44601

In [ ]:
# src/fase_5/commodity_data.py
import pandas as pd
from pathlib import Path
import re
import numpy as np

RAW_DIR = Path("../data/raw/commodity_data/")
OUT_FILE = Path("../data/processed/unitary/commodity_data_merged.csv.gz")
OUT_FILE.parent.mkdir(parents=True, exist_ok=True)

def clean_ticker(t):
    if pd.isna(t):
        return None
    t = str(t).strip()
    # eliminar caracteres problemÃ¡ticos y normalizar
    t = re.sub(r'[\^\s/\\]+', '', t)
    t = re.sub(r'[^0-9A-Za-z_.-]', '', t)
    return t

def detect_header_row(df):
    """Detecta la fila que contiene el nombre de la columna 'Date' (o similar)."""
    for i in range(min(6, len(df))):  # buscar en las primeras filas
        row = df.iloc[i].astype(str).str.lower()
        if any(row.str.contains(r'\bdate\b')) or any(row.str.contains(r'\byear\b')):
            return i
    return None

def detect_ticker(df):
    """Intenta detectar el ticker buscando cadenas evidentes en las primeras 3 filas."""
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.isna(val):
                continue
            s = str(val).strip()
            if re.search(r'\.MC$|^\^|^[A-Z0-9]{1,6}$', s) or re.search(r'[A-Za-z]{2,}\.[A-Za-z]{1,4}', s):
                return s
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.notna(val) and str(val).strip() and len(str(val).strip()) <= 12:
                return str(val).strip()
    return None

def normalize_df(df, prefix):
    # detectar fila header (donde estÃ¡ 'Date')
    header_row = detect_header_row(df)
    if header_row is None:
        header_row = 1 if len(df) > 1 else 0

    # extraer columnas y datos
    new_cols = df.iloc[header_row].fillna("").astype(str).tolist()
    data = df.iloc[header_row + 1:].copy()
    data.columns = new_cols

    # detectar columna de fecha
    date_col = None
    for col in data.columns:
        if isinstance(col, str) and col.strip().lower() in ("date", "fecha", "price"):
            date_col = col
            break
    if date_col is None:
        for col in data.columns:
            sample = data[col].dropna().astype(str).head(5).tolist()
            if any(re.match(r'^\d{4}-\d{2}-\d{2}$', s) for s in sample):
                date_col = col
                break
    if date_col is None:
        raise ValueError(f"No se pudo localizar la columna Date (cabecera detectada: {header_row}).")

    data = data.rename(columns={date_col: "Date"})

    # rellenar columnas vacÃ­as si las hay
    new_columns = []
    for c in data.columns:
        if not isinstance(c, str) or c.strip() == "":
            new_columns.append(None)
        else:
            new_columns.append(c.strip())
    standard = ["Date", "Close", "High", "Low", "Open", "Volume", "Adj Close"]
    for idx, col in enumerate(new_columns):
        if col is None or col == "":
            if idx < len(standard):
                new_columns[idx] = standard[idx]
            else:
                new_columns[idx] = f"col_{idx}"
    data.columns = new_columns

    # aÃ±adir prefijo del archivo a todas las columnas excepto Date
    rename_dict = {}
    for c in data.columns:
        if c == "Date":
            continue
        c_clean = re.sub(r'\s+', '_', c)
        rename_dict[c] = f"{prefix}_{c_clean}"
    data = data.rename(columns=rename_dict)

    # convertir Date y valores numÃ©ricos
    data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
    for col in data.columns:
        if col != "Date":
            data[col] = pd.to_numeric(data[col], errors="coerce")

    # limpiar y ordenar
    data = data.dropna(subset=["Date"]).reset_index(drop=True)
    data = data.sort_values("Date").reset_index(drop=True)

    return data

def process_all(raw_dir):
    frames = []
    for fp in sorted(raw_dir.glob("*.csv.gz")):
        prefix = fp.stem  # nombre del archivo sin extensiÃ³n
        print(f"Procesando: {fp.name}  â†’  prefijo: {prefix}")
        try:
            df_raw = pd.read_csv(fp, compression="gzip", header=None, dtype=str)
            df_norm = normalize_df(df_raw, prefix)
            frames.append(df_norm)
        except Exception as e:
            print(f"âš ï¸ Error procesando {fp.name}: {e}")

    if not frames:
        raise RuntimeError("No se han procesado archivos correctamente.")

    merged = frames[0]
    for f in frames[1:]:
        merged = pd.merge(merged, f, on="Date", how="outer", suffixes=("", "_dup"))
        merged = merged.loc[:, ~merged.columns.duplicated()]

    merged = merged.sort_values("Date").reset_index(drop=True)
    return merged

if __name__ == "__main__":
    merged_df = process_all(RAW_DIR)
    merged_df.to_csv(OUT_FILE, index=False, compression="gzip")
    print("âœ… Merge completado:", OUT_FILE)
    print("Filas:", len(merged_df), "Columnas:", len(merged_df.columns))
    display(merged_df)

Procesando: Aluminio.csv.gz  â†’  prefijo: Aluminio.csv
Procesando: Brent.csv.gz  â†’  prefijo: Brent.csv
Procesando: Cobre.csv.gz  â†’  prefijo: Cobre.csv
Procesando: GasNatural.csv.gz  â†’  prefijo: GasNatural.csv
Procesando: Oro.csv.gz  â†’  prefijo: Oro.csv
Procesando: Plata.csv.gz  â†’  prefijo: Plata.csv
Procesando: Trigo.csv.gz  â†’  prefijo: Trigo.csv
Procesando: Uranio.csv.gz  â†’  prefijo: Uranio.csv
Procesando: WTI.csv.gz  â†’  prefijo: WTI.csv
âœ… Merge completado: ..\data\processed\unitary\commodity_data_merged.csv.gz
Filas: 6375 Columnas: 46

,Date,Aluminio.csv_Close,Aluminio.csv_High,Aluminio.csv_Low,Aluminio.csv_Open,Aluminio.csv_Volume,Brent.csv_Close,Brent.csv_High,Brent.csv_Low,Brent.csv_Open,...,Uranio.csv_Close,Uranio.csv_High,Uranio.csv_Low,Uranio.csv_Open,Uranio.csv_Volume,WTI.csv_Close,WTI.csv_High,WTI.csv_Low,WTI.csv_Open,WTI.csv_Volume
0,2000-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6370,2025-10-24,2776.75,2776.75,2776.75,2776.75,0.0,65.940002,66.769997,65.440002,65.870003,...,NaN,NaN,NaN,NaN,NaN,61.500000,62.590000,61.209999,61.790001,373744.0
6371,2025-10-27,2800.25,2800.25,2800.25,2800.25,0.0,65.620003,66.599998,65.080002,66.260002,...,NaN,NaN,NaN,NaN,NaN,61.310001,62.169998,60.669998,61.820000,272191.0
6372,2025-10-28,2821.50,2821.50,2821.50,2821.50,0.0,64.400002,65.790001,64.000000,65.790001,...,NaN,NaN,NaN,NaN,NaN,60.150002,61.500000,59.759998,61.500000,307568.0
6373,2025-10-29,2829.25,2829.25,2829.25,2829.25,30.0,64.919998,65.379997,63.930000,64.489998,...,NaN,NaN,NaN,NaN,NaN,60.480000,61.020000,59.700001,60.180000,276875.0
6374,2025-10-30,2815.25,2815.25,2815.25,2815.25,0.0,65.000000,65.160004,64.059998,64.849998,...,NaN,NaN,NaN,NaN,NaN,60.570000,60.790001,59.639999,60.389999,247917.0

## Fx_data

In [ ]:
# notebooks/00_explore_csvs.ipynb

import pandas as pd
from pathlib import Path
from IPython.display import display  # Muy importante para notebooks

# =============================
# CONFIG
# =============================
FOLDER_PATH = Path("../data/raw/fx_data/")  # Cambiar carpeta segÃºn quieras explorar
csv_files = list(FOLDER_PATH.glob("*.csv.gz"))

# =============================
# FUNCIONES DE EXPLORACIÃ“N
# =============================
def explore_csv(csv_path):
    print(f"\nðŸ”¹ Explorando {csv_path.name}")
    df = pd.read_csv(csv_path, compression='gzip')
    
    # Ver columnas
    print("Columnas:", df.columns.tolist())
    
    # Primeras filas
    print("Primeras filas:")
    display(df.head())
    
    # # Info general
    # print("\nInformaciÃ³n:")
    # display(df.info())
    
    # # EstadÃ­sticas bÃ¡sicas
    # print("\nEstadÃ­sticas descriptivas:")
    # display(df.describe())
    
    # # Valores nulos por columna
    # print("\nValores nulos:")
    # display(df.isna().sum())
    
    return df

# =============================
# EXPLORAR TODOS LOS CSVs
# =============================
for csv_file in csv_files:
    explore_csv(csv_file)

ðŸ”¹ Explorando DXY.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,DX-Y.NYB,DX-Y.NYB,DX-Y.NYB,DX-Y.NYB,DX-Y.NYB
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-01,93.20999908447266,93.30999755859375,93.08000183105469,93.19000244140625,0
3,1990-01-02,94.29000091552734,94.30999755859375,93.08000183105469,93.12999725341797,0
4,1990-01-03,94.41999816894531,94.5199966430664,94.08000183105469,94.1500015258789,0

ðŸ”¹ Explorando EURBRL.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,EURBRL=X,EURBRL=X,EURBRL=X,EURBRL=X,EURBRL=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,2003-12-01,3.462100028991699,3.462100028991699,3.462100028991699,3.462100028991699,0
3,2003-12-02,3.41510009765625,3.41510009765625,3.41510009765625,3.41510009765625,0
4,2003-12-03,3.4798998832702637,3.4798998832702637,3.4798998832702637,3.4798998832702637,0

ðŸ”¹ Explorando EURCHF.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,EURCHF=X,EURCHF=X,EURCHF=X,EURCHF=X,EURCHF=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,2003-01-23,1.4642000198364258,1.465000033378601,1.4620000123977661,1.4632999897003174,0
3,2003-01-24,1.4673000574111938,1.4675999879837036,1.4620000123977661,1.464400053024292,0
4,2003-01-27,1.4675999879837036,1.4692000150680542,1.4651999473571777,1.4664000272750854,0

ðŸ”¹ Explorando EURGBP.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,EURGBP=X,EURGBP=X,EURGBP=X,EURGBP=X,EURGBP=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,1999-01-04,0.7110000252723694,0.7134000062942505,0.7087000012397766,0.7113999724388123,0
3,1999-01-05,0.7110000252723694,0.7156999707221985,0.7077999711036682,0.7128000259399414,0
4,1999-01-06,0.7009999752044678,0.7139999866485596,0.6998999714851379,0.7099999785423279,0

ðŸ”¹ Explorando EURJPY.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,EURJPY=X,EURJPY=X,EURJPY=X,EURJPY=X,EURJPY=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,2003-01-23,126.87999725341797,127.11000061035156,126.5199966430664,126.9800033569336,0
3,2003-01-24,127.48999786376953,127.76000213623047,126.80000305175781,126.9000015258789,0
4,2003-01-27,128.44000244140625,128.94000244140625,127.48999786376953,127.58999633789062,0

ðŸ”¹ Explorando EURMXN.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,EURMXN=X,EURMXN=X,EURMXN=X,EURMXN=X,EURMXN=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,2003-12-01,13.58489990234375,13.725700378417969,13.389900207519531,13.399700164794922,0
3,2003-12-02,13.730299949645996,13.734600067138672,13.534000396728516,13.591699600219727,0
4,2003-12-03,13.741800308227539,13.753199577331543,13.559000015258789,13.725500106811523,0

ðŸ”¹ Explorando EURUSD.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,2003-12-01,1.19650137424469,1.2040069103240967,1.194400668144226,1.20339834690094,0
3,2003-12-02,1.2088974714279175,1.2109030485153198,1.1946003437042236,1.1961007118225098,0
4,2003-12-03,1.2122975587844849,1.213003396987915,1.2077003717422485,1.208999752998352,0

ðŸ”¹ Explorando USDJPY.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,JPY=X,JPY=X,JPY=X,JPY=X,JPY=X
1,Date,NaN,NaN,NaN,NaN,NaN
2,1996-10-30,114.18000030517578,114.4800033569336,113.61000061035156,114.37000274658203,0
3,1996-11-01,113.5,113.5,113.5,113.5,0
4,1996-11-04,113.87999725341797,113.9800033569336,112.94999694824219,113.27999877929688,0

In [ ]:
# src/fase_5/fx_data.py
import pandas as pd
from pathlib import Path
import re
import numpy as np

RAW_DIR = Path("../data/raw/fx_data/")
OUT_FILE = Path("../data/processed/unitary/fx_data_merged.csv.gz")
OUT_FILE.parent.mkdir(parents=True, exist_ok=True)

def clean_ticker(t):
    if pd.isna(t):
        return None
    t = str(t).strip()
    # eliminar caracteres problemÃ¡ticos y normalizar
    t = re.sub(r'[\^\s/\\]+', '', t)
    t = re.sub(r'[^0-9A-Za-z_.-]', '', t)
    return t

def detect_header_row(df):
    """Detecta la fila que contiene el nombre de la columna 'Date' (o similar)."""
    for i in range(min(6, len(df))):  # buscar en las primeras filas
        row = df.iloc[i].astype(str).str.lower()
        if any(row.str.contains(r'\bdate\b')) or any(row.str.contains(r'\byear\b')):
            return i
    return None

def detect_ticker(df):
    """Intenta detectar el ticker buscando cadenas evidentes en las primeras 3 filas."""
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.isna(val):
                continue
            s = str(val).strip()
            if re.search(r'\.MC$|^\^|^[A-Z0-9]{1,6}$', s) or re.search(r'[A-Za-z]{2,}\.[A-Za-z]{1,4}', s):
                return s
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.notna(val) and str(val).strip() and len(str(val).strip()) <= 12:
                return str(val).strip()
    return None

def normalize_df(df, prefix):
    # detectar fila header (donde estÃ¡ 'Date')
    header_row = detect_header_row(df)
    if header_row is None:
        header_row = 1 if len(df) > 1 else 0

    # extraer columnas y datos
    new_cols = df.iloc[header_row].fillna("").astype(str).tolist()
    data = df.iloc[header_row + 1:].copy()
    data.columns = new_cols

    # detectar columna de fecha
    date_col = None
    for col in data.columns:
        if isinstance(col, str) and col.strip().lower() in ("date", "fecha", "price"):
            date_col = col
            break
    if date_col is None:
        for col in data.columns:
            sample = data[col].dropna().astype(str).head(5).tolist()
            if any(re.match(r'^\d{4}-\d{2}-\d{2}$', s) for s in sample):
                date_col = col
                break
    if date_col is None:
        raise ValueError(f"No se pudo localizar la columna Date (cabecera detectada: {header_row}).")

    data = data.rename(columns={date_col: "Date"})

    # rellenar columnas vacÃ­as si las hay
    new_columns = []
    for c in data.columns:
        if not isinstance(c, str) or c.strip() == "":
            new_columns.append(None)
        else:
            new_columns.append(c.strip())
    standard = ["Date", "Close", "High", "Low", "Open", "Volume", "Adj Close"]
    for idx, col in enumerate(new_columns):
        if col is None or col == "":
            if idx < len(standard):
                new_columns[idx] = standard[idx]
            else:
                new_columns[idx] = f"col_{idx}"
    data.columns = new_columns

    # aÃ±adir prefijo del archivo a todas las columnas excepto Date
    rename_dict = {}
    for c in data.columns:
        if c == "Date":
            continue
        c_clean = re.sub(r'\s+', '_', c)
        rename_dict[c] = f"{prefix}_{c_clean}"
    data = data.rename(columns=rename_dict)

    # convertir Date y valores numÃ©ricos
    data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
    for col in data.columns:
        if col != "Date":
            data[col] = pd.to_numeric(data[col], errors="coerce")

    # limpiar y ordenar
    data = data.dropna(subset=["Date"]).reset_index(drop=True)
    data = data.sort_values("Date").reset_index(drop=True)

    return data

def process_all(raw_dir):
    frames = []
    for fp in sorted(raw_dir.glob("*.csv.gz")):
        prefix = fp.stem  # nombre del archivo sin extensiÃ³n
        print(f"Procesando: {fp.name}  â†’  prefijo: {prefix}")
        try:
            df_raw = pd.read_csv(fp, compression="gzip", header=None, dtype=str)
            df_norm = normalize_df(df_raw, prefix)
            frames.append(df_norm)
        except Exception as e:
            print(f"âš ï¸ Error procesando {fp.name}: {e}")

    if not frames:
        raise RuntimeError("No se han procesado archivos correctamente.")

    merged = frames[0]
    for f in frames[1:]:
        merged = pd.merge(merged, f, on="Date", how="outer", suffixes=("", "_dup"))
        merged = merged.loc[:, ~merged.columns.duplicated()]

    merged = merged.sort_values("Date").reset_index(drop=True)
    return merged

if __name__ == "__main__":
    merged_df = process_all(RAW_DIR)
    merged_df.to_csv(OUT_FILE, index=False, compression="gzip")
    print("âœ… Merge completado:", OUT_FILE)
    print("Filas:", len(merged_df), "Columnas:", len(merged_df.columns))
    display(merged_df)

Procesando: DXY.csv.gz  â†’  prefijo: DXY.csv
Procesando: EURBRL.csv.gz  â†’  prefijo: EURBRL.csv
Procesando: EURCHF.csv.gz  â†’  prefijo: EURCHF.csv
Procesando: EURGBP.csv.gz  â†’  prefijo: EURGBP.csv
Procesando: EURJPY.csv.gz  â†’  prefijo: EURJPY.csv
Procesando: EURMXN.csv.gz  â†’  prefijo: EURMXN.csv
Procesando: EURUSD.csv.gz  â†’  prefijo: EURUSD.csv
Procesando: USDJPY.csv.gz  â†’  prefijo: USDJPY.csv
âœ… Merge completado: ..\data\processed\unitary\fx_data_merged.csv.gz
Filas: 9348 Columnas: 41

,Date,DXY.csv_Close,DXY.csv_High,DXY.csv_Low,DXY.csv_Open,DXY.csv_Volume,EURBRL.csv_Close,EURBRL.csv_High,EURBRL.csv_Low,EURBRL.csv_Open,...,EURUSD.csv_Close,EURUSD.csv_High,EURUSD.csv_Low,EURUSD.csv_Open,EURUSD.csv_Volume,USDJPY.csv_Close,USDJPY.csv_High,USDJPY.csv_Low,USDJPY.csv_Open,USDJPY.csv_Volume
0,1990-01-01,93.209999,93.309998,93.080002,93.190002,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-01-02,94.290001,94.309998,93.080002,93.129997,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-01-03,94.419998,94.519997,94.080002,94.150002,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-01-04,92.519997,93.879997,92.389999,93.720001,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-01-05,92.849998,93.419998,92.550003,93.339996,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9343,2025-10-27,98.779999,99.000000,98.730003,98.839996,0.0,6.257822,6.273526,6.238303,6.261741,...,1.163169,1.164958,1.161872,1.163169,0.0,153.061005,153.242996,152.576996,153.061005,0.0
9344,2025-10-28,98.690002,98.949997,98.570000,98.750000,0.0,6.253909,6.269592,6.238303,6.250000,...,1.165175,1.166861,1.162791,1.165175,0.0,152.692001,152.729004,151.755997,152.692001,0.0
9345,2025-10-29,99.220001,99.360001,98.620003,98.739998,0.0,6.238303,6.242197,6.203474,6.242197,...,1.165787,1.166589,1.161980,1.165787,0.0,151.731003,152.514008,151.548996,151.731003,0.0
9346,2025-10-30,99.529999,99.720001,98.919998,99.139999,0.0,6.211180,6.246096,6.207325,6.207325,...,1.160335,1.163467,1.154761,1.160335,0.0,152.722000,154.440994,152.184998,152.722000,0.0
9347,2025-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,153.899994,154.376007,153.656006,153.899994,0.0

## Macro_data

In [ ]:
# notebooks/00_explore_csvs.ipynb

import pandas as pd
from pathlib import Path
from IPython.display import display  # Muy importante para notebooks

# =============================
# CONFIG
# =============================
FOLDER_PATH = Path("../data/raw/macro_data/")  # Cambiar carpeta segÃºn quieras explorar
csv_files = list(FOLDER_PATH.glob("*.csv.gz"))

# =============================
# FUNCIONES DE EXPLORACIÃ“N
# =============================
def explore_csv(csv_path):
    print(f"\nðŸ”¹ Explorando {csv_path.name}")
    df = pd.read_csv(csv_path, compression='gzip')
    
    # Ver columnas
    print("Columnas:", df.columns.tolist())
    
    # Primeras filas
    print("Primeras filas:")
    display(df.head())
    
    # # Info general
    # print("\nInformaciÃ³n:")
    # display(df.info())
    
    # # EstadÃ­sticas bÃ¡sicas
    # print("\nEstadÃ­sticas descriptivas:")
    # display(df.describe())
    
    # # Valores nulos por columna
    # print("\nValores nulos:")
    # display(df.isna().sum())
    
    return df

# =============================
# EXPLORAR TODOS LOS CSVs
# =============================
for csv_file in csv_files:
    explore_csv(csv_file)

ðŸ”¹ Explorando CPI_US.csv.gz
Columnas: ['Date', 'CPI_US']
Primeras filas:

         Date  CPI_US
0  1913-01-01     9.8
1  1913-01-02     9.8
2  1913-01-03     9.8
3  1913-01-04     9.8
4  1913-01-05     9.8

ðŸ”¹ Explorando ECB_M3.csv.gz
Columnas: ['Date', 'USD', 'JPY', 'BGN', 'CYP', 'CZK', 'DKK', 'EEK', 'GBP', 'HUF', 'LTL', 'LVL', 'MTL', 'PLN', 'ROL', 'RON', 'SEK', 'SIT', 'SKK', 'CHF', 'ISK', 'NOK', 'HRK', 'RUB', 'TRL', 'TRY', 'AUD', 'BRL', 'CAD', 'CNY', 'HKD', 'IDR', 'INR', 'KRW', 'MXN', 'MYR', 'NZD', 'PHP', 'SGD', 'THB', 'ZAR']
Primeras filas:

,Date,USD,JPY,BGN,CYP,CZK,DKK,EEK,GBP,HUF,...,IDR,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR
0,1999-01-05,1.1790,130.960000,NaN,0.582300,34.917000,7.4495,15.6466,0.712200,250.80,...,NaN,NaN,1373.010000,NaN,NaN,2.2011,NaN,1.965500,NaN,6.797500
1,1999-01-06,1.1743,131.420000,NaN,0.582000,34.850000,7.4452,15.6466,0.707600,250.67,...,NaN,NaN,1359.540000,NaN,NaN,2.1890,NaN,1.969900,NaN,6.730700
2,1999-01-07,1.1632,129.430000,NaN,0.581870,34.886000,7.4431,15.6466,0.705850,250.09,...,NaN,NaN,1337.160000,NaN,NaN,2.1531,NaN,1.943600,NaN,6.828300
3,1999-01-08,1.1659,130.090000,NaN,0.581870,34.938000,7.4433,15.6466,0.709400,250.15,...,NaN,NaN,1366.730000,NaN,NaN,2.1557,NaN,1.953700,NaN,6.785500
4,1999-01-09,1.1629,128.836667,NaN,0.581803,35.016333,7.4433,15.6466,0.707733,250.00,...,NaN,NaN,1363.386667,NaN,NaN,2.1457,NaN,1.947733,NaN,6.787333

ðŸ”¹ Explorando GDP_US.csv.gz
Columnas: ['Date', 'GDP_US']
Primeras filas:

         Date      GDP_US
0  1947-01-01  243.164000
1  1947-01-02  243.195156
2  1947-01-03  243.226311
3  1947-01-04  243.257467
4  1947-01-05  243.288622

ðŸ”¹ Explorando M2_EUR.csv.gz
Columnas: ['Date', 'M2_EUR']
Primeras filas:

         Date      M2_EUR
0  1959-01-01  286.600000
1  1959-01-02  286.635484
2  1959-01-03  286.670968
3  1959-01-04  286.706452
4  1959-01-05  286.741935

ðŸ”¹ Explorando nama_10_gdp_linear_2_0.csv.gz

C:\Users\aleja\AppData\Local\Temp\ipykernel_35828\2183097730.py:18: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path, compression='gzip')

Columnas: ['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency', 'unit', 'Unit of measure', 'na_item', 'National accounts indicator (ESA 2010)', 'geo', 'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE', 'Observation value', 'OBS_FLAG', 'Observation status (Flag) V2 structure', 'CONF_STATUS', 'Confidentiality status (flag)']
Primeras filas:

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,na_item,National accounts indicator (ESA 2010),geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:NAMA_10_GDP(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV05_MEUR,"Chain linked volumes (2005), million euro",B1G,"Value added, gross",AL,Albania,1995,NaN,3422.5,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:NAMA_10_GDP(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV05_MEUR,"Chain linked volumes (2005), million euro",B1G,"Value added, gross",AL,Albania,1996,NaN,3675.6,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:NAMA_10_GDP(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV05_MEUR,"Chain linked volumes (2005), million euro",B1G,"Value added, gross",AL,Albania,1997,NaN,3279.3,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:NAMA_10_GDP(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV05_MEUR,"Chain linked volumes (2005), million euro",B1G,"Value added, gross",AL,Albania,1998,NaN,3538.0,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:NAMA_10_GDP(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV05_MEUR,"Chain linked volumes (2005), million euro",B1G,"Value added, gross",AL,Albania,1999,NaN,4031.1,NaN,NaN,NaN,NaN,NaN

ðŸ”¹ Explorando prc_hicp_manr_linear_2_0.csv.gz

KeyboardInterrupt:

In [ ]:
import pandas as pd
from pathlib import Path
import re

# Rutas
RAW_DIR = Path(r"..\data\raw\macro_data")
OUT_FILE = Path(r"..\data\processed\unitary\macro_data_merged.csv.gz")
OUT_FILE.parent.mkdir(parents=True, exist_ok=True)

def clean_ticker(name):
    """Limpia y normaliza el nombre base del archivo para usarlo como prefijo."""
    name = re.sub(r'\.csv.*$', '', name)
    name = re.sub(r'[^A-Za-z0-9]+', '_', name)
    return name.strip("_").upper()

def detect_date_column(df):
    """Detecta la columna que contiene fechas."""
    for col in df.columns:
        if re.search(r'date|fecha|time|period', str(col), re.IGNORECASE):
            return col
    # si no hay coincidencias, intenta detectar por contenido
    for col in df.columns:
        sample = df[col].dropna().astype(str).head(5)
        if any(re.match(r'\d{4}-\d{2}-\d{2}', s) for s in sample):
            return col
    return None

def normalize_df(df, name):
    """Normaliza un dataframe: limpia cabeceras, fechas y nombres."""
    # limpiar cabecera
    df.columns = df.columns.astype(str).str.strip()
    df = df.dropna(how="all")

    date_col = detect_date_column(df)
    if not date_col:
        raise ValueError(f"No se encontrÃ³ columna de fecha en {name}")

    df = df.rename(columns={date_col: "Date"})
    df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
    df = df.dropna(subset=["Date"])

    # convertir otras columnas a numÃ©rico si posible
    for col in df.columns:
        if col != "Date":
            df[col] = pd.to_numeric(df[col])

    # renombrar columnas con prefijo
    rename_map = {
        c: f"{name}_{re.sub(r'\\s+', '_', c)}"
        for c in df.columns if c != "Date"
    }
    df = df.rename(columns=rename_map)

    # eliminar duplicadas y ordenar
    df = df.drop_duplicates(subset=["Date"]).sort_values("Date").reset_index(drop=True)
    return df

def process_all(raw_dir):
    frames = []
    for fp in sorted(raw_dir.glob("*.csv.gz")):
        print(f"Procesando: {fp.name}")
        df = pd.read_csv(fp, compression="gzip", header=0, dtype=str)
        ticker = clean_ticker(fp.stem)
        df_clean = normalize_df(df, ticker)
        frames.append(df_clean)

    if not frames:
        raise RuntimeError("No se han podido procesar archivos correctamente.")

    print("ðŸ§© Combinando todos los datasets...")
    merged = frames[0]
    for f in frames[1:]:
        merged = pd.merge(merged, f, on="Date", how="outer")

    merged = merged.sort_values("Date").reset_index(drop=True)
    return merged

if __name__ == "__main__":
    merged_df = process_all(RAW_DIR)
    merged_df.to_csv(OUT_FILE, index=False, compression="gzip")
    print("âœ… Merge completado y guardado en:")
    print(OUT_FILE)
    print("ðŸ“… Filas:", len(merged_df), " | ðŸ“Š Columnas:", len(merged_df.columns))
    display(merged_df)

Procesando: CPI_US.csv.gz
Procesando: ECB_M3.csv.gz
Procesando: GDP_US.csv.gz
Procesando: M2_EUR.csv.gz
Procesando: nama_10_gdp_linear_2_0.csv.gz
Procesando: prc_hicp_manr_linear_2_0.csv.gz
Procesando: SP10YYield.csv.gz
Procesando: une_rt_m_linear_2_0.csv.gz
Procesando: Unemployment_US.csv.gz
ðŸ§© Combinando todos los datasets...
âœ… Merge completado y guardado en:
..\data\processed\unitary\macro_data_merged.csv.gz
ðŸ“… Filas: 41152  | ðŸ“Š Columnas: 104

,Date,CPI_US_CPI_US,ECB_M3_USD,ECB_M3_JPY,ECB_M3_BGN,ECB_M3_CYP,ECB_M3_CZK,ECB_M3_DKK,ECB_M3_EEK,ECB_M3_GBP,...,UNE_RT_M_LINEAR_2_0_Geopolitical entity (reporting),UNE_RT_M_LINEAR_2_0_TIME_PERIOD,UNE_RT_M_LINEAR_2_0_Time,UNE_RT_M_LINEAR_2_0_OBS_VALUE,UNE_RT_M_LINEAR_2_0_Observation value,UNE_RT_M_LINEAR_2_0_OBS_FLAG,UNE_RT_M_LINEAR_2_0_Observation status (Flag) V2 structure,UNE_RT_M_LINEAR_2_0_CONF_STATUS,UNE_RT_M_LINEAR_2_0_Confidentiality status (flag),UNEMPLOYMENT_US_Unemployment_US
0,1913-01-01,9.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1913-01-02,9.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1913-01-03,9.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1913-01-04,9.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1913-01-05,9.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41147,2025-08-28,324.693677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41148,2025-08-29,324.720258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41149,2025-08-30,324.746839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41150,2025-08-31,324.773419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41151,2025-09-01,324.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Market_risk

In [ ]:
# notebooks/00_explore_csvs.ipynb

import pandas as pd
from pathlib import Path
from IPython.display import display  # Muy importante para notebooks

# =============================
# CONFIG
# =============================
FOLDER_PATH = Path("../data/raw/market_risk/")  # Cambiar carpeta segÃºn quieras explorar
csv_files = list(FOLDER_PATH.glob("*.csv.gz"))

# =============================
# FUNCIONES DE EXPLORACIÃ“N
# =============================
def explore_csv(csv_path):
    print(f"\nðŸ”¹ Explorando {csv_path.name}")
    df = pd.read_csv(csv_path, compression='gzip')
    
    # Ver columnas
    print("Columnas:", df.columns.tolist())
    
    # Primeras filas
    print("Primeras filas:")
    display(df.head())
    
    # # Info general
    # print("\nInformaciÃ³n:")
    # display(df.info())
    
    # # EstadÃ­sticas bÃ¡sicas
    # print("\nEstadÃ­sticas descriptivas:")
    # display(df.describe())
    
    # # Valores nulos por columna
    # print("\nValores nulos:")
    # display(df.isna().sum())
    
    return df

# =============================
# EXPLORAR TODOS LOS CSVs
# =============================
for csv_file in csv_files:
    explore_csv(csv_file)

ðŸ”¹ Explorando EVZ.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^EVZ,^EVZ,^EVZ,^EVZ,^EVZ
1,Date,NaN,NaN,NaN,NaN,NaN
2,2008-08-01,8.930000305175781,8.930000305175781,8.930000305175781,8.930000305175781,0
3,2008-08-04,9.270000457763672,9.270000457763672,8.609999656677246,8.930000305175781,0
4,2008-08-05,9.199999809265137,9.600000381469727,9.010000228881836,9.5,0

ðŸ”¹ Explorando MSCI_Financials.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,IXG,IXG,IXG,IXG,IXG
1,Date,NaN,NaN,NaN,NaN,NaN
2,2001-11-26,29.208383560180664,29.208383560180664,29.208383560180664,29.208383560180664,0
3,2001-11-27,29.241849899291992,29.241849899291992,29.241849899291992,29.241849899291992,100
4,2001-11-28,29.241849899291992,29.241849899291992,29.241849899291992,29.241849899291992,0

ðŸ”¹ Explorando VIX.csv.gz
Columnas: ['Price', 'Close', 'High', 'Low', 'Open', 'Volume']
Primeras filas:

,Price,Close,High,Low,Open,Volume
0,Ticker,^VIX,^VIX,^VIX,^VIX,^VIX
1,Date,NaN,NaN,NaN,NaN,NaN
2,1990-01-02,17.239999771118164,17.239999771118164,17.239999771118164,17.239999771118164,0
3,1990-01-03,18.190000534057617,18.190000534057617,18.190000534057617,18.190000534057617,0
4,1990-01-04,19.219999313354492,19.219999313354492,19.219999313354492,19.219999313354492,0

In [ ]:
# src/fase_5/commodity_data.py
import pandas as pd
from pathlib import Path
import re
import numpy as np

RAW_DIR = Path("../data/raw/market_risk/")
OUT_FILE = Path("../data/processed/unitary/market_risk_merged.csv.gz")
OUT_FILE.parent.mkdir(parents=True, exist_ok=True)

def clean_ticker(t):
    if pd.isna(t):
        return None
    t = str(t).strip()
    # eliminar caracteres problemÃ¡ticos y normalizar
    t = re.sub(r'[\^\s/\\]+', '', t)
    t = re.sub(r'[^0-9A-Za-z_.-]', '', t)
    return t

def detect_header_row(df):
    """Detecta la fila que contiene el nombre de la columna 'Date' (o similar)."""
    for i in range(min(6, len(df))):  # buscar en las primeras filas
        row = df.iloc[i].astype(str).str.lower()
        if any(row.str.contains(r'\bdate\b')) or any(row.str.contains(r'\byear\b')):
            return i
    return None

def detect_ticker(df):
    """Intenta detectar el ticker buscando cadenas evidentes en las primeras 3 filas."""
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.isna(val):
                continue
            s = str(val).strip()
            if re.search(r'\.MC$|^\^|^[A-Z0-9]{1,6}$', s) or re.search(r'[A-Za-z]{2,}\.[A-Za-z]{1,4}', s):
                return s
    for i in range(min(3, len(df))):
        for val in df.iloc[i].tolist():
            if pd.notna(val) and str(val).strip() and len(str(val).strip()) <= 12:
                return str(val).strip()
    return None

def normalize_df(df, prefix):
    # detectar fila header (donde estÃ¡ 'Date')
    header_row = detect_header_row(df)
    if header_row is None:
        header_row = 1 if len(df) > 1 else 0

    # extraer columnas y datos
    new_cols = df.iloc[header_row].fillna("").astype(str).tolist()
    data = df.iloc[header_row + 1:].copy()
    data.columns = new_cols

    # detectar columna de fecha
    date_col = None
    for col in data.columns:
        if isinstance(col, str) and col.strip().lower() in ("date", "fecha", "price"):
            date_col = col
            break
    if date_col is None:
        for col in data.columns:
            sample = data[col].dropna().astype(str).head(5).tolist()
            if any(re.match(r'^\d{4}-\d{2}-\d{2}$', s) for s in sample):
                date_col = col
                break
    if date_col is None:
        raise ValueError(f"No se pudo localizar la columna Date (cabecera detectada: {header_row}).")

    data = data.rename(columns={date_col: "Date"})

    # rellenar columnas vacÃ­as si las hay
    new_columns = []
    for c in data.columns:
        if not isinstance(c, str) or c.strip() == "":
            new_columns.append(None)
        else:
            new_columns.append(c.strip())
    standard = ["Date", "Close", "High", "Low", "Open", "Volume", "Adj Close"]
    for idx, col in enumerate(new_columns):
        if col is None or col == "":
            if idx < len(standard):
                new_columns[idx] = standard[idx]
            else:
                new_columns[idx] = f"col_{idx}"
    data.columns = new_columns

    # aÃ±adir prefijo del archivo a todas las columnas excepto Date
    rename_dict = {}
    for c in data.columns:
        if c == "Date":
            continue
        c_clean = re.sub(r'\s+', '_', c)
        rename_dict[c] = f"{prefix}_{c_clean}"
    data = data.rename(columns=rename_dict)

    # convertir Date y valores numÃ©ricos
    data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
    for col in data.columns:
        if col != "Date":
            data[col] = pd.to_numeric(data[col], errors="coerce")

    # limpiar y ordenar
    data = data.dropna(subset=["Date"]).reset_index(drop=True)
    data = data.sort_values("Date").reset_index(drop=True)

    return data

def process_all(raw_dir):
    frames = []
    for fp in sorted(raw_dir.glob("*.csv.gz")):
        prefix = fp.stem  # nombre del archivo sin extensiÃ³n
        print(f"Procesando: {fp.name}  â†’  prefijo: {prefix}")
        try:
            df_raw = pd.read_csv(fp, compression="gzip", header=None, dtype=str)
            df_norm = normalize_df(df_raw, prefix)
            frames.append(df_norm)
        except Exception as e:
            print(f"âš ï¸ Error procesando {fp.name}: {e}")

    if not frames:
        raise RuntimeError("No se han procesado archivos correctamente.")

    merged = frames[0]
    for f in frames[1:]:
        merged = pd.merge(merged, f, on="Date", how="outer", suffixes=("", "_dup"))
        merged = merged.loc[:, ~merged.columns.duplicated()]

    merged = merged.sort_values("Date").reset_index(drop=True)
    return merged

if __name__ == "__main__":
    merged_df = process_all(RAW_DIR)
    merged_df.to_csv(OUT_FILE, index=False, compression="gzip")
    print("âœ… Merge completado:", OUT_FILE)
    print("Filas:", len(merged_df), "Columnas:", len(merged_df.columns))
    display(merged_df)

Procesando: EVZ.csv.gz  â†’  prefijo: EVZ.csv
Procesando: MSCI_Financials.csv.gz  â†’  prefijo: MSCI_Financials.csv
Procesando: VIX.csv.gz  â†’  prefijo: VIX.csv
âœ… Merge completado: ..\data\processed\unitary\market_risk_merged.csv.gz
Filas: 9020 Columnas: 16

,Date,EVZ.csv_Close,EVZ.csv_High,EVZ.csv_Low,EVZ.csv_Open,EVZ.csv_Volume,MSCI_Financials.csv_Close,MSCI_Financials.csv_High,MSCI_Financials.csv_Low,MSCI_Financials.csv_Open,MSCI_Financials.csv_Volume,VIX.csv_Close,VIX.csv_High,VIX.csv_Low,VIX.csv_Open,VIX.csv_Volume
0,1990-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.240000,17.240000,17.240000,17.240000,0
1,1990-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.190001,18.190001,18.190001,18.190001,0
2,1990-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.219999,19.219999,19.219999,19.219999,0
3,1990-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.110001,20.110001,20.110001,20.110001,0
4,1990-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.260000,20.260000,20.260000,20.260000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9015,2025-10-17,NaN,NaN,NaN,NaN,NaN,113.010002,113.349998,112.599998,112.599998,17500.0,20.780001,28.990000,20.730000,28.410000,0
9016,2025-10-20,NaN,NaN,NaN,NaN,NaN,114.300003,114.519997,113.360001,113.360001,26100.0,18.230000,21.020000,18.230000,20.530001,0
9017,2025-10-21,NaN,NaN,NaN,NaN,NaN,114.050003,114.610001,113.940002,114.129997,25900.0,17.870001,18.889999,17.400000,18.650000,0
9018,2025-10-22,NaN,NaN,NaN,NaN,NaN,113.680000,113.980003,113.269997,113.959999,4500.0,18.600000,21.010000,17.730000,17.840000,0
9019,2025-10-23,NaN,NaN,NaN,NaN,NaN,113.820000,114.169998,113.599998,113.900002,18800.0,17.299999,19.350000,17.080000,18.360001,0

## Event_data

In [ ]:
# notebooks/00_explore_csvs.ipynb

import pandas as pd
from pathlib import Path
from IPython.display import display

# =============================
# CONFIG
# =============================
RAW_PATH = Path("../data/raw/events_data/")
PROCESSED_PATH = Path("../data/processed/unitary/")
PROCESSED_PATH.mkdir(parents=True, exist_ok=True)

csv_files = list(RAW_PATH.glob("*.csv"))

# =============================
# FUNCIONES DE EXPLORACIÃ“N
# =============================
def explore_csv(csv_path):
    print(f"\nðŸ”¹ Explorando {csv_path.name}")
    
    # Detecta automÃ¡ticamente si estÃ¡ comprimido
    compression = "gzip" if csv_path.suffix == ".gz" else None
    df = pd.read_csv(csv_path, compression=compression)
    
    print("Columnas:", df.columns.tolist())
    print("Primeras filas:")
    display(df.head())
    
    return df


# =============================
# EXPLORAR, UNIR Y GUARDAR
# =============================
all_dfs = []

for csv_file in csv_files:
    df = explore_csv(csv_file)
    all_dfs.append(df)

# Combinar todos los CSV
merged_df = pd.concat(all_dfs, ignore_index=True)

# Guardar CSV comprimido
output_path = PROCESSED_PATH / "events_merged.csv.gz"
merged_df.to_csv(output_path, index=False, compression="gzip")

print(f"\nâœ… Archivo combinado guardado en: {output_path}")
print(f"Total de filas combinadas: {len(merged_df)}")

ðŸ”¹ Explorando events.csv
Columnas: ['Date', 'Event_Name', 'Impact_Score']
Primeras filas:

         Date        Event_Name  Impact_Score
0  1990-08-02  Guerra del Golfo             2
1  1990-08-03  Guerra del Golfo             2
2  1990-08-04  Guerra del Golfo             2
3  1990-08-05  Guerra del Golfo             2
4  1990-08-06  Guerra del Golfo             2

âœ… Archivo combinado guardado en: ..\data\processed\unitary\events_merged.csv.gz
Total de filas combinadas: 12622

## News_sentiments

In [ ]:
# # notebooks/00_explore_csvs.ipynb

# import pandas as pd
# from pathlib import Path
# from IPython.display import display  # Muy importante para notebooks

# # =============================
# # CONFIG
# # =============================
# FOLDER_PATH = Path("../data/raw/news_data/")  # Cambiar carpeta segÃºn quieras explorar
# csv_files = list(FOLDER_PATH.glob("*.csv"))

# # =============================
# # FUNCIONES DE EXPLORACIÃ“N
# # =============================
# def explore_csv(csv_path):
#     print(f"\nðŸ”¹ Explorando {csv_path.name}")
#     df = pd.read_csv(csv_path)
    
#     # Ver columnas
#     print("Columnas:", df.columns.tolist())
    
#     # Primeras filas
#     print("Primeras filas:")
#     display(df.head())
    
#     # # Info general
#     # print("\nInformaciÃ³n:")
#     # display(df.info())
    
#     # # EstadÃ­sticas bÃ¡sicas
#     # print("\nEstadÃ­sticas descriptivas:")
#     # display(df.describe())
    
#     # # Valores nulos por columna
#     # print("\nValores nulos:")
#     # display(df.isna().sum())
    
#     return df

# # =============================
# # EXPLORAR TODOS LOS CSVs
# # =============================

# explore_csv(csv_file)

ðŸ”¹ Explorando news_sentiment_recent.csv
Columnas: ['Date', 'Sentiment_Score', 'Num_Headlines']
Primeras filas:

         Date  Sentiment_Score  Num_Headlines
0  2025-11-02               -1             40

         Date  Sentiment_Score  Num_Headlines
0  2025-11-02               -1             40

# Processed all merged

In [ ]:
import pandas as pd
from pathlib import Path

# Directorios
UNITARY_DIR = Path(r"..\data\processed\unitary")
OUT_FILE = Path(r"..\data\processed\data.csv.gz")
OUT_FILE.parent.mkdir(parents=True, exist_ok=True)

# Archivos que quieres unir
FILES = [
    "stock_data_merged.csv.gz",
    "commodity_data_merged.csv.gz",
    "fx_data_merged.csv.gz",
    "macro_data_merged.csv.gz",
    "market_risk_merged.csv.gz",
    "events_merged.csv.gz"
]

frames = []

# Leer y cargar cada dataset
for file_name in FILES:
    fp = UNITARY_DIR / file_name
    print(f"ðŸ“‚ Cargando {fp}")
    df = pd.read_csv(fp, compression="gzip")
    if "Date" not in df.columns:
        raise ValueError(f"âŒ El archivo {file_name} no contiene la columna 'Date'")
    df["Date"] = pd.to_datetime(df["Date"])
    frames.append(df)

# Unir todos los datasets por la columna Date
print("ðŸ§© Combinando todos los datasets...")
merged = frames[0]
for f in frames[1:]:
    merged = pd.merge(merged, f, on="Date", how="outer")

merged = merged.sort_values("Date").reset_index(drop=True)

# Guardar resultado
merged.to_csv(OUT_FILE, index=False, compression="gzip")
print("âœ… UniÃ³n completada y guardada en:")
print(OUT_FILE)
print(f"ðŸ“… Filas: {len(merged)} | ðŸ“Š Columnas: {len(merged.columns)}")

display(merged.head())

ðŸ“‚ Cargando ..\data\processed\unitary\stock_data_merged.csv.gz
ðŸ“‚ Cargando ..\data\processed\unitary\commodity_data_merged.csv.gz
ðŸ“‚ Cargando ..\data\processed\unitary\fx_data_merged.csv.gz
ðŸ“‚ Cargando ..\data\processed\unitary\macro_data_merged.csv.gz
ðŸ“‚ Cargando ..\data\processed\unitary\market_risk_merged.csv.gz
ðŸ“‚ Cargando ..\data\processed\unitary\events_merged.csv.gz
ðŸ§© Combinando todos los datasets...
âœ… UniÃ³n completada y guardada en:
..\data\processed\data.csv.gz
ðŸ“… Filas: 44630 | ðŸ“Š Columnas: 306

,Date,BKT.MC_Close,BKT.MC_High,BKT.MC_Low,BKT.MC_Open,BKT.MC_Volume,BBVA.MC_Close,BBVA.MC_High,BBVA.MC_Low,BBVA.MC_Open,...,MSCI_Financials.csv_Low,MSCI_Financials.csv_Open,MSCI_Financials.csv_Volume,VIX.csv_Close,VIX.csv_High,VIX.csv_Low,VIX.csv_Open,VIX.csv_Volume,Event_Name,Impact_Score
0,1913-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1913-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1913-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1913-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1913-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN